img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
    margin-top: 2%;
}

p{
    margin-top: -1%;
}


h4{
    text-align: center;
}

h1{
    margin-bottom: 12%;
    color: rgb(49, 30, 2);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

h2{
    color: rgb(31, 18, 0);
   
}

li{
    margin-left: 0;
}

html{
    background-image: url("../images/background_pacman.png");
    opacity: 50%;
    background-size: 100%;
    background-repeat: repeat-y;
    /* overflow: hidden; */
}


ul>img{
    width: 100%;
    /* filter: sepia(80%); */

}

.container{
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

}

.date{
    margin-top: 15%;
    margin-bottom: -6%;
    font-weight: bold;
    text-align: center;
}

.transparent-box{
    margin: 5%;
  font-weight: bold;
  color: #000000;
}

