html { 
    background: url(images/background_pacman.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.title{
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    
    /* outline-color: aquamarine; */
}


body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

.button {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    /* background-image: url(btn-bg.jpg); */
    border: none;
    font-size: 25px;
    color:  #fcb150;
    padding: 20px;
    width: 400px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    font-family: "Comic Sans MS";
    border: 3px solid  #fcb150;
    border-radius: 20px;
}

.startGameButton {
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    /* background-image: url(btn-bg.jpg); */
    border: none;
    font-size: 50px;
    color:  #fcb150;
    padding: 50px;
    width: 400px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    font-family: "Comic Sans MS";
    border: 3px solid  #fcb150;
    border-radius: 20px;
    vertical-align: 10%;
}


.button:after {
    content: "";
    background: rgb(133, 93, 9);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}


.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.startGameButton:hover{
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    -webkit-box-shadow: 43px -15px 117px 35px rgba(20,10,20,1);
    -moz-box-shadow: 43px -15px 117px 35px rgba(20,10,20,1);
} 

.startGameButton:after {
    content: "";
    background: rgb(133, 93, 9);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.startGameButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.blink {
    animation: blinker 01s linear infinite;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}


/* RESPONSIVE */

/* change styles for cancel button and login button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .loginupbtn {
       width: 100%;
    }
}

/* Portrait Galaxy */
@media screen and (min-width: 360px) {
   #logo{
       margin-top: -12%;
       width: 100%;
       height: 100%;
   }

   html{
       background-position-y: 50%;
   }
   .modal-content{
       width: 50%;
   }
   h1{
      margin-top: 20%;
      font-size: 1.5em;
   }

}

/* iphone */
@media screen and (min-width: 320px) {
    #logo{
        margin-top: -12%;
        width: 100%;
        height: 100%;
    }
 
    html{
        background-position-y: 50%;
    }
    .modal-content{
        width: 50%;
    }
    h1{
       margin-top: 20%;
       font-size: 1.5em;
    }
 
 }
     


